<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <img src={% static 'images/avatar.jfif'%} class="responsive-image" style="max-height:150px" />
            </div>   
            <div class="col-sm-8">
                <h1>Test text</h1>
            </div>   
        </div>   
    </div> 
    Content of the base template
    {% block content %}
    {% endblock %}
</body>
</html>